@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');

/* Navbar */
    .navbar{
        margin: 5px 0;
    }
    .navbar-brand{
        margin-top: 10px;
        justify-content: center;
        text-align: center;
    }
    .navbar-brand h4{
        font-size: 24px;
        font-family: 'Medula One';
        font-weight: bold;
    }
    .navbar-brand p{
        font-family: 'Quicksand';
        font-size: 12px;
        margin-top: -10px;
        letter-spacing: 2px;
    }
    .navbar-nav .nav-item{
        font-family: 'Quicksand';
        font-size: 16px;
        font-weight: 600;
        margin-right: 10px;
    }

    /* Header text */
    .container{
        font-family: 'quicksand';
    }
    .container p{
        font-size: 14px;
    }
    .container span{
        color: #57a06c;
        font-weight: 600;
    }
    .container button{
        letter-spacing: 2px;
        padding: 3px 100px;
        border: 1px solid black;
    }
    .container button:hover{
        border: none;
        background: #57a06c;
        color: aliceblue;
        box-shadow: none !important;
    }
    .fafont {
        position: relative;
        bottom: 50px;
    }
    .fafont a{
        text-decoration: none;
        color: black;
    }
    .fafont a:hover{ 
        color: #1e4729;
        
    }
    .fafont a p{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family:'quicksand';
        font-size: 12px;
        font-weight: bold;
    }
    .fafont a i{
        position: relative;
        bottom: 10px;
    }
    .fafont a i p{
        justify-content: center;
        text-align: center;
        align-items: center;
    }
