@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');


/* Navbar */
    .navbar{
        margin: -25px 0;
    }
    .navbar-brand{
        margin-top: 10px;
        justify-content: center;
        text-align: center;
    }
    .navbar-brand h4{
        font-size: 24px;
        font-family: 'Medula One';
        font-weight: bold;
    }
    .navbar-brand p{
        font-family: 'Quicksand';
        font-size: 12px;
        margin-top: -10px;
        letter-spacing: 2px;
    }
    .navbar-nav .nav-item{
        font-family: 'Quicksand';
        font-size: 16px;
        font-weight: 600;
        margin-right: 10px;
    }

    /* Header text */
    .container{
        font-family: 'quicksand';
    }
    .container p{
        font-size: 14px;
    }
    .container span{
        color: #57a06c;
        font-weight: 600;
    }
    .container .button-header{
        letter-spacing: 2px;
        padding: 3px 100px;
        border: 1px solid black;
    }
    .container .button-header:hover{
        border: none;
        background: #57a06c;
        color: aliceblue;
    }
    .fafont {
        position: relative;
        visibility: hidden;
        bottom: 50px;
    }
    .fafont a{
        text-decoration: none;
        color: black;
    }
    .fafont a:hover{ 
        color: #1e4729;
        
    }
    .fafont a p{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family:'quicksand';
        font-size: 12px;
        font-weight: bold;
    }
    .fafont a i{
        position: relative;
        bottom: 10px;
    }
    .fafont a i p{
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    /* Body Content */
    .body-content{
        position: relative;
        bottom: 200px; 
    }
    .contact a{
        position: relative;
        top: 50px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.747);
        font-size: 14px;
        font-weight: bold;
    }    
    .contact a:hover{
        color: rgb(0, 0, 0);
    }  
    .container .title{
        font-family: 'quicksand';
        letter-spacing: 5px;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: lighter;
    }
    .container .title span{
        font-weight: 900;
    }
    .container .link a{
        color: aliceblue;
        text-decoration: none;
    }
    .container .link a:hover{
        color: #57a06c;
        text-decoration: none;
    }
    .container .card{
        border-radius: 20px;
    }
    .body-card{
        margin-top: 20px;  
    }
    .body-card h3{
        margin-bottom: 3em;
    }
    .card-body i{
        position: relative;
        left: 8.5em;
    }
    .card-body .fawa{
        left: 6.5em;
    }
    .card-body .faspin{
        left: 5.5em;
    }
    .card-body p{
        margin-top: 50px;
    }
    .card-body a{
        text-decoration: none;
        font-size: 14px;  
        font-weight: bold;
        color: rgba(0, 0, 0, 0.637);
    }
    .card-body a:hover{
        color: rgb(0, 0, 0);
    }
    /* Footer */

    .footer{
        margin-top: 10px;
        justify-content: center;
        text-align: center;
    }
    .footer a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.527);
    }
    .footer a:hover{
        color: rgba(0, 0, 0, 0.863);
    }
    .footer span{
        color: rgba(0, 0, 0, 0.527);
        font-size: 14px;
        margin-left: 10px;
    }


    /* Phone & Tablet */
    @media (min-width: 576px), (min-width: 768px) { 
        .fafont{
            visibility: visible;
        }
     }